<div class="container">
	<div class="login-container">
		<mat-card>
			<h1 class="mat-h1">Login</h1>
			<mat-card-content>
				<ng-container *ngIf="loading === false">
					<form [formGroup]="loginForm" (ngSubmit)="authenticate()">
						<mat-form-field class="form-field-full">
							<input matInput placeholder="Username" formControlName="email">
						</mat-form-field>

						<mat-form-field class="form-field-full">
							<input type="password" matInput placeholder="Password" formControlName="password">
						</mat-form-field>

						<div class="submit-container">
							<button mat-raised-button color="accent" class="submit-button">Login</button>
						</div>
					</form>
				</ng-container>
				<div class="spinner-container" *ngIf="loading === true">
					<div class="spinner balls"></div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
