.login-container {
	width: 400px;
	margin: 150px auto 0;
}

.spinner-container {
	height: 149.125px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mat-h1 {
	text-align: center;
}

.form-field-full {
	width: 100%;
}

.submit-container {
	text-align: right;

	.submit-button {
		min-width: 150px;
	}
}
