<div class="container">
	<div class="login-container">
		<mat-card>
			<h1 class="mat-h1">Login</h1>
			<mat-card-content>
				<form novalidate>
					<mat-form-field class="form-field-full">
						<input matInput placeholder="Username">
					</mat-form-field>

					<mat-form-field class="form-field-full">
						<input type="password" matInput placeholder="Password">
					</mat-form-field>

					<div class="submit-container">
						<button mat-raised-button color="accent" class="submit-button">Login</button>
					</div>
				</form>
			</mat-card-content>
		</mat-card>
	</div>
</div>
