.home-container {
	min-height: calc(100vh - 64px);
}

.home-sidenav {
	width: 200px;
}

.home-content {
	padding: 0 20px;
}

.active-list-item {
	background-color: #F44336 !important;
	color: #FFF;
	font-weight: bold;
}

.currency-field {
	width: 80px;
}

.credit-day-field {
	width: 120px;
}

.number-field {
	-moz-appearance:textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.logout-menu {
	position: absolute;
	bottom: 0;
}

.logout-divider {
	position: absolute;
	bottom: 48px;
	width: 100%;
}
