<mat-sidenav-container class="home-container">
	<mat-sidenav mode="side" class="home-sidenav" [(opened)]="isSidenavOpen">
		<mat-list>
			<mat-list-item (click)="setActiveList('Credit')"
				[ngClass]="{'active-list-item': currActiveList === 'Credit'}"
				class="c-pointer">Credit</mat-list-item>
			<mat-list-item (click)="setActiveList('Cash')"
				[ngClass]="{'active-list-item': currActiveList === 'Cash'}"
				class="c-pointer">Cash</mat-list-item>
			<!-- <mat-list-item>Loans</mat-list-item> -->
		</mat-list>
	</mat-sidenav>
	<mat-sidenav-content class="home-content">

		<div>
			<h3>{{currActiveList}}</h3>
			<button mat-raised-button color="accent">
				<i class="material-icons">edit</i>
				<span class="mx">Add</span>
			</button>
			<button mat-raised-button
				color="accent"
				class="ml"
				(click)="isSettingsOpen = !isSettingsOpen">
				<i class="material-icons">settings</i>
				<span class="mx">{{currActiveList}} Settings</span>
			</button>
		</div>

		<div *ngIf="isSettingsOpen" class="mt-1">
			<form [formGroup]="settingsCreditForm" (ngSubmit)="saveCreditSettings()">
				<mat-form-field class="currency-field mr">
					<input matInput placeholder="Currency" formControlName="currency">
				</mat-form-field>

				<mat-form-field class="credit-day-field number-field mr">
					<input matInput
						type="number"
						min="1" max="31"
						placeholder="Due Day"
						formControlName="due">
				</mat-form-field>

				<mat-form-field class="credit-day-field number-field">
					<input matInput
						type="number"
						min="1" max="31"
						placeholder="Statement Day"
						formControlName="statement">
				</mat-form-field>

				<div class="submit-container">
					<button mat-raised-button color="accent" class="submit-button">Save</button>
				</div>
			</form>
		</div>

		<div *ngIf="currActiveList === 'Credit'" class="mt-1">
			<p class="mb">
				<span>Next Statement : </span>
				<span *ngIf="!settings.credit.statement">Not set</span>
				<span>{{settings.credit.statement}}</span>
			</p>
			<p class="mt">
				<span>Current Due : </span>
				<span>{{settings.currency}}</span>
				<span>[amount]</span>
				<span *ngIf="settings.credit.due">&nbsp;on&nbsp;</span>
				<span>{{settings.credit.due}}</span>
			</p>
		</div>
		<div *ngIf="currActiveList === 'Cash'" class="mt-1">
			<p>
				<span>Total for this <span>[time]</span> : </span>
				<span>{{settings.currency}}</span><span>[amount]</span> on <span>[date]</span>
			</p>
		</div>

		<div *ngIf="currActiveList === 'Credit'" class="mt-2">
			<mat-tab-group>
				<mat-tab label="All Pending">Pending</mat-tab>
				<mat-tab label="This Statement">This Statement</mat-tab>
				<mat-tab label="Next Statement">Next Statement</mat-tab>
				<mat-tab label="Installments">Installments</mat-tab>
			</mat-tab-group>
		</div>

		<div *ngIf="currActiveList === 'Cash'" class="mt-2">
			<mat-tab-group>
				<mat-tab label="This Month">This Month</mat-tab>
				<mat-tab label="Last Month">Last Month</mat-tab>
				<mat-tab label="All Spendings">Next Statement</mat-tab>
			</mat-tab-group>
		</div>

	</mat-sidenav-content>
</mat-sidenav-container>
