.home-container {
	min-height: calc(100vh - 64px);
}

.home-sidenav {
	width: 200px;
}

.home-content {
	padding: 0 20px;
}

.active-list-item {
	background-color: #F44336 !important;
	color: #FFF;
	font-weight: bold;
}

.ml {
	margin-left: .75rem;
}

.mr {
	margin-right: .75rem;
}

.mt-1 {
	margin-top: 1rem;
}
