<mat-sidenav-container class="home-container">
	<mat-sidenav mode="side" class="home-sidenav" [(opened)]="isSidenavOpen">
		<mat-list>
			<mat-list-item (click)="setActiveList('Credit')"
				[ngClass]="{'active-list-item': currActiveList === 'Credit'}"
				class="c-pointer">Credit</mat-list-item>
			<mat-list-item (click)="setActiveList('Cash')"
				[ngClass]="{'active-list-item': currActiveList === 'Cash'}"
				class="c-pointer">Cash</mat-list-item>
			<!-- <mat-list-item>Loans</mat-list-item> -->
		</mat-list>
	</mat-sidenav>
	<mat-sidenav-content class="home-content">

		<div>
			<h3>{{currActiveList}}</h3>
			<button mat-raised-button color="accent">
				<i class="material-icons">edit</i>
				<span class="mx">Add</span>
			</button>
			<button mat-raised-button
				color="accent"
				class="ml"
				(click)="isSettingsOpen = !isSettingsOpen">
				<i class="material-icons">settings</i>
				<span class="mx">{{currActiveList}} Settings</span>
			</button>
		</div>

		<div *ngIf="isSettingsOpen" class="mt-1">
			settings
		</div>

		<div *ngIf="currActiveList === 'Credit'" class="mt-1">
			<p class="mb">Next Statement : <span>[date]</span></p>
			<p class="mt">
				<span>Current Due : </span>
				<span>[currency]</span><span>[amount]</span> on <span>[date]</span>
			</p>
		</div>
		<div *ngIf="currActiveList === 'Cash'" class="mt-1">
			<p>
				<span>Total for this <span>[time]</span> : </span>
				<span>[currency]</span><span>[amount]</span> on <span>[date]</span>
			</p>
		</div>

	</mat-sidenav-content>
</mat-sidenav-container>
