.home-container {
	min-height: calc(100vh - 64px);
}

.home-sidenav {
	width: 200px;
}

.home-content {
	padding: 22px 20px;
}

.active-list-item {
	background-color: #F44336 !important;
	color: #FFF;
	font-weight: bold;
}
